/* ===== BASE ELEMENTS (body, headings, links) ===== */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("../assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
}

a {
  font-weight: 900;
  font-size: 1.1rem;
  color: #6dffff;
  text-decoration: inherit;
}

a:hover {
  color: #c9ffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.glassbtn {
  border-radius: 999px !important;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 200ms;
}

.glassbtn:hover {
  transform: scale(1.1);
  background-color: rgba(52, 52, 52, 0.5);
}

.glassbutton-parent {
  background-color: transparent;
  padding: 0;
  transform: none !important;
  box-shadow: none !important;
  backdrop-filter: none !important;
}