/* ===== CHAT LIST & SIDEBAR COMPONENTS ===== */
/* Chat list stuff */
.chatlist {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.chatlist div {
    position: relative;
    width: 95%;
    height: 3rem;
    background-color: rgba(13, 13, 13, 0.804);
    line-height: 3rem;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 999px;
}

.chatlist img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 100%;
    transition: 200ms;
}

.chatlist div:hover {
    background-color: rgb(55, 55, 55);
    gap: 1.5rem;
}

.chatlist div:hover img {
    transform: scale(1.5);
}

.chatlist .focused {
    background-color: rgb(55, 55, 55);
}

.newchat {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3rem;
    background-color: rgb(12, 12, 12);
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
    transition: 200ms;
}

.newchat:hover {
    background-color: rgb(55, 55, 55);
}